.sheet {
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0px 0px 3px 0px #999;
}

.team-card {
	text-align: center;
}
.team-card img {
    border-radius: 50%;
    box-shadow: 0 0 20px #110;
}
.team-card .member-name {
    font-weight: 700;
    font-size: 1.2em;
    /* color: #000; */
}
.team-card .member-post {
    font-weight: 700;
    font-style: italic;
}
.social-buttons li {
    margin: 0;
    padding: 0;
}
.social-buttons .icon {
    width: 2em; height: 2em;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    background-color: #34495E;
    color: white;
    font-weight: 700;
    transition: background-color 0.5s;
}
.social-buttons a:hover {
    text-decoration: none;
}
.social-buttons a:hover .icon {
    background-color: #8E44AD;
}